---
http_interactions:
- request:
    method: post
    uri: https://api.va.gov/services/address_validation/v2/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"1700 Epcot Resorts Blvd","addressLine2":"","addressLine3":"","city":"Lake Buena Vista","zipCode5":"32830","zipCode4":"","internationalPostalCode":"","addressPOU":"RESIDENCE/CHOICE","stateProvince":{"name":"Florida","code":"FL"},"requestCountry":{"countryName":"United States of America","countryCode":"USA"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"","key":"","text":"","severity":"","potentiallySelfCorrectingOnRetry":true}],"candidateAddresses":[{"messages":[{"code":"","key":"","text":"","severity":"","potentiallySelfCorrectingOnRetry":true}],"address":{"addressLine1":"1700 Epcot Resorts Blvd","addressLine2":"","addressLine3":"","city":"Lake Buena Vista","zipCode5":"32830","zipCode4":"","internationalPostalCode":"","county":{"name":"","countyFipsCode":""},"stateProvince":{"name":"Florida","code":"FL"},"country":{"name":"United States of America","code":"USA","fipsCode":"","iso2Code":"","iso3Code":""}},"geocode":{"calcDate":"2024-01-17T14:13:53.762Z","locationPrecision":0,"latitude":0,"longitude":0},"usCongressionalDistrict":"","addressMetaData":{"confidenceScore":90,"addressType":"","deliveryPointValidation":"CONFIRMED","residentialDeliveryIndicator":"RESIDENTIAL","nonPostalInputData":[""],"validationKey":0}}]}'
  recorded_at: Wed, 17 Jan 2024 14:20:19 GMT
recorded_with: VCR 6.1.0
