---
http_interactions:
- request:
    method: post
    uri: https://sample-gateway.com/internal/auth/v2/validation
    body:
      encoding: US-ASCII
      string: aud=https%3A%2F%2Fsandbox-api.va.gov%2Ftest%2Fconsumer
    headers:
      Authorization:
      - Bearer t0t4l1y-r34l
      Apikey:
      - t0t4l1y-r34l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '36'
      X-Git-Sha:
      - a4a1bff98d7b2914175dfae4aa3ed3bc420c303b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Token Validation Error","detail":"Invalid token","code":"401","status":"401"}]}'
  recorded_at: Wed, 13 Jul 2022 16:47:24 GMT
recorded_with: VCR 6.1.0
