---
http_interactions:
- request:
    method: post
    uri: https://dev-87720571-admin.okta.com/api/v1/apps
    body:
      encoding: UTF-8
      string: '{"name":"oidc_client","label":"LPB-DougFunnie-1653497146","signOnMode":"OPENID_CONNECT","credentials":{"oauthClient":{"autoKeyRotation":true,"token_endpoint_auth_method":"private_key_jwt"}},"settings":{"oauthClient":{"application_type":"service","grant_types":["client_credentials"],"response_types":["token"],"jwks":{"keys":[{"kty":"RSA","n":"key-value-here","e":"AQAB"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  00OzoCEFtt_SPAPA2pU5PmQeVDNW8SJeEgenfxzrP0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YbkAOIz92Z1BbWQnjOxqtAAAAZE
      X-Rate-Limit-Limit:
      - '20'
      X-Rate-Limit-Remaining:
      - '19'
      X-Rate-Limit-Reset:
      - '1639514229'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0oa3a6tt26GZqgAWt5d7","name":"oidc_client","label":"LPBDougFunnie-1639514168","status":"ACTIVE","lastUpdated":"2021-12-14T20:36:09.000Z","created":"2021-12-14T20:36:09.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"ZzIkRWwjEWmke-HcHGIqJE97JypRNbRhYV7kDSGrXkI"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa3a6tt26GZqgAWt5d7","client_secret":"rZ-VbChidNnlaoK6rhjKNl1l7483tNhuwouGmWVb","token_endpoint_auth_method":"client_secret_basic"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://localhost:3000/callback","https://sandbox-api.va.gov/oauth2/redirect/"],"response_types":["code"],"grant_types":["authorization_code","refresh_token"],"initiate_login_uri":"https://sandbox-api.va.gov/oauth2/redirect/","application_type":"web","consent_method":"REQUIRED","issuer_mode":"ORG_URL","refresh_token":{"rotation_type":"STATIC"},"idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://dev-87720571.okta.com/home/oidc_client/0oa3a6tt26GZqgAWt5d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/users"},"deactivate":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/lifecycle/deactivate"}}}'
  recorded_at: Tue, 14 Dec 2021 20:36:09 GMT
- request:
    method: put
    uri: https://dev-87720571-admin.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/groups/00g31dz5agb5ZzIk05d7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  00OzoCEFtt_SPAPA2pU5PmQeVDNW8SJeEgenfxzrP0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YbkAOZnLuxR2qUaMzI92BgAACCs
      X-Rate-Limit-Limit:
      - '20'
      X-Rate-Limit-Remaining:
      - '18'
      X-Rate-Limit-Reset:
      - '1639514229'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00g31dz5agb5ZzIk05d7","lastUpdated":"2021-12-14T20:36:09.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7"},"self":{"href":"https://dev-87720571.okta.com/api/v1/apps/0oa3a6tt26GZqgAWt5d7/groups/00g31dz5agb5ZzIk05d7"},"group":{"href":"https://dev-87720571.okta.com/api/v1/groups/00g31dz5agb5ZzIk05d7"}}}'
  recorded_at: Tue, 14 Dec 2021 20:36:09 GMT
- request:
    method: get
    uri: https://dev-87720571-admin.okta.com/api/v1/authorizationServers/default/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  00OzoCEFtt_SPAPA2pU5PmQeVDNW8SJeEgenfxzrP0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YbkAOquBTSG5BV80UcswwgAAAd0
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1639514230'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"00p29kzfksiAPrqLF5d7","status":"ACTIVE","name":"Default Policy","description":"Default
        Policy for your Authorization Server","priority":1,"system":false,"conditions":{"clients":{"include":["ALL_CLIENTS"]}},"created":"2021-10-19T14:13:47.000Z","lastUpdated":"2021-10-19T14:13:47.000Z","_links":{"self":{"href":"https://dev-87720571.okta.com/api/v1/authorizationServers/default/policies/00p29kzfksiAPrqLF5d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://dev-87720571.okta.com/api/v1/authorizationServers/default/policies/00p29kzfksiAPrqLF5d7/rules","hints":{"allow":["GET"]}},"deactivate":{"href":"https://dev-87720571.okta.com/api/v1/authorizationServers/default/policies/00p29kzfksiAPrqLF5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"OAUTH_AUTHORIZATION_POLICY"}]'
  recorded_at: Tue, 14 Dec 2021 20:36:10 GMT
- request:
    method: put
    uri: https://dev-87720571-admin.okta.com/api/v1/authorizationServers/default/policies/00p29kzfksiAPrqLF5d7
    body:
      encoding: UTF-8
      string: '[["id","00p29kzfksiAPrqLF5d7"],["status","ACTIVE"],["name","Default
        Policy"],["description","Default Policy for your Authorization Server"],["priority",1],["system",false],["conditions",[["clients",[["include",["ALL_CLIENTS","0oa3a6tt26GZqgAWt5d7"]]]]]],["created","2021-10-19T14:13:47.000Z"],["lastUpdated"[...]
