<% if user_signed_in? %>
	Hello <%= current_user.first_name %>! Welcome to the Lighthouse Platform Backend.
	<%= link_to "Sign out here", destroy_user_session_path, class: "my-2 text-white px-3 py-2 text-xl rounded-md bg-va-primary-dark hover:bg-va-primary-darkest inline-block", method: :delete %>
<% else %>
	<p>Welcome to the Lighthouse Platform Backend. Please sign in to get started!</p>
	<p class="mx-2 italic">You must belong to an approved team on GitHub to use this app.</p>
	<%= link_to "Sign in with github", user_github_omniauth_authorize_path, class: "my-2 text-white px-3 py-2 text-xl rounded-md bg-va-primary-dark hover:bg-va-primary-darkest inline-block", method: :post %>
<% end %>