<% if user_signed_in? %>
	Hello <%= current_user.first_name %>! Welcome to the ux toolkit. Use the nav bar above to get started.
<% else %>
	<p>Welcome to the UX Toolkit. Sign in to get started!</p>
	<p class="mx-2 italic">You must belong to the github department-of-veteran-affairs organization to use this app.</p>
	<%= link_to "Sign in with github", user_github_omniauth_authorize_path, class: "my-2 text-white px-3 py-2 text-xl rounded-md bg-va-primary-dark hover:bg-va-primary-darkest inline-block", method: :post %>
<% end %>