---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/asdf/asdf/asdf
    body:
      encoding: UTF-8
      string: '{"blocks":[{"type":"header","text":{"type":"plain_text","text":"A Secret
        has been found on Github","emoji":true}},{"type":"divider"},{"type":"section","fields":[{"type":"plain_text","text":"Secret:","emoji":true},{"type":"plain_text","text":"adafruit_io_key","emoji":true}]},{"type":"section","fields":[{"type":"plain_text","text":"Repo:","emoji":true},{"type":"plain_text","text":"Codertocat/Hello-World","emoji":true}]},{"type":"section","fields":[{"type":"plain_text","text":"Url:","emoji":true},{"type":"plain_text","text":"https://github.com/Codertocat/Hello-World","emoji":true}]},{"type":"section","fields":[{"type":"plain_text","text":"Organization:","emoji":true},{"type":"plain_text","text":"Codertocat","emoji":true}]},{"type":"actions","elements":[{"type":"button","text":{"type":"plain_text","text":"Open
        in Browser","emoji":true},"value":"click_me_123","url":"https://github.com/Codertocat/Hello-World","action_id":"button-action"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-hll6
      X-Via:
      - envoy-www-iad-n03h, haproxy-edge-iad-shor
      X-Slack-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Mon, 28 Jun 2021 21:30:05 GMT
recorded_with: VCR 6.0.0
