---
http_interactions:
- request:
    method: post
    uri: https://sample-gateway.com/internal/auth/v2/validation
    body:
      encoding: US-ASCII
      string: aud=https%3A%2F%2Fsandbox-api.va.gov%2Ftest%2Fconsumer
    headers:
      Authorization:
      - Bearer t0k3n
      Apikey:
      - t0t4l1y-r34l
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '48'
      Etag:
      - W/"ad0130453d23be3327b03d59dbecb537"
      X-Git-Sha:
      - a4a1bff98d7b2914175dfae4aa3ed3bc420c303b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"AT.0ieTqbf8_KX9-r-PWLsOKyLjZVnhfCCUiEX6X7saL3s","type":"validated_token","attributes":{"ver":1,"jti":"AT.0ieTqbf8_KX9-r-PWLsOKyLjZVnhfCCUiEX6X7saL3s","iss":"https://sample.okta.com/oauth2/r4nd0m","aud":"https://sandbox-api.va.gov/test/consumer","iat":1657730674,"exp":1657730974,"cid":"c1d-g03sh3r3","uid":null,"scp":["provider.read","provider.write"],"sub":"c1d-g03sh3r3","act":{"icn":null,"npi":null,"sec_id":null,"vista_id":null,"type":"system"},"launch":{}}}}'
  recorded_at: Wed, 13 Jul 2022 16:48:13 GMT
recorded_with: VCR 6.1.0
