<% if flash.alert %>
  <br/>
  <div class="medium-screen:vads-u-padding-x--4 " role="alert">
    <div class="alert alert-danger" role="alert">
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Error alert</h3>
          <%= flash.alert %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if flash.notice %>
  <div class="vads-u-background-color--gold vads-u-padding-y--2 text-center" role="alert">
      <p class="vads-u-font-size--lg vads-u-margin--0">
        <strong><%= flash.notice %></strong>
      </p>
  </div>
<% end %>
