<footer class="vads-u-background-color--primary-darkest vads-u-color--white vads-u-width--full" role="contentinfo">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-u-margin-y--1p5 medium-screen:vads-u-margin-y--2p5 vads-l-col--12 medium-screen:vads-l-col--4">
        <div class="footer-seal">
          <a href="https://va.gov" class="site-footer__logo" title="Go to VA.gov"><%= image_tag('va-logo-white.png', alt: "U.S. Department of Veterans Affairs logo", class: 'va-api-footer-logo') %></a>
        </div>
      </div>
      <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-y--4 vads-l-col--12 medium-screen:vads-l-col--8">
        <ul class="site-footer__links va-api-footer-link-list vads-u-padding-left--0 vads-u-margin--0 vads-l-row vads-u-flex-direction--column vads-u-justify-content--flex-start medium-screen:vads-u-flex-direction--row medium-screen:vads-u-justify-content--flex-end">
          <li class="site-footer__links__item medium-screen:vads-u-padding-left--4 medium-screen:vads-u-margin-bottom--0">
            <a class="vads-u-font-size--sm vads-u-color--white" href="http://www.va.gov/playbook/" target="_blank">VA.gov playbook</a>
          </li>
          <li class="site-footer__links__item medium-screen:vads-u-padding-left--4 medium-screen:vads-u-margin-bottom--0">
            <a class="vads-u-font-size--sm vads-u-color--white" target="_blank" href="https://www.section508.va.gov/">Accessibility</a>
          </li>
          <li class="site-footer__links__item medium-screen:vads-u-padding-left--4 medium-screen:vads-u-margin-bottom--0">
            <a class="vads-u-font-size--sm vads-u-color--white" href="http://www.va.gov/web/" target="_blank">Web governance &amp; policies</a>
          </li>
          <li class="site-footer__links__item medium-screen:vads-u-padding-left--4 medium-screen:vads-u-margin-bottom--0">
            <a class="vads-u-font-size--sm vads-u-color--white" href="http://www.va.gov/privacy/">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
