<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/flash_messages' %>
    <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-min-height--viewport vads-u-width--full">
      <main id="main" tabindex="-1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>

